.button {
    height: 32px;
    width: 240px;
    border-radius: 8px;
    border: none;
    border-bottom: 2px solid rgb(120, 120, 120);
    transition: 0.2s;
    font-weight: 600;
    color: rgb(80, 80, 80);

    background-color: antiquewhite;
}

.button:hover {
    border-bottom: 2px solid rgb(200, 0, 0);
    cursor: pointer;
}

.button:active {
    background-color: rgb(160, 30, 30);
    border-bottom: 2px solid rgb(64, 11, 11);
    color: white;
    transition: 0s;
}