.input {
    width: 240px;
    height: 32px;
    border-radius: 8px;
    padding: 0 8px 0 8px;

    border: none;
    border-bottom: 2px solid rgb(120, 120, 120);
}

.input:focus {
    outline: none;
    border-bottom: 2px solid rgb(200, 0, 0);
}