.wrapper {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
}

.doneButton {
    min-width: 32px;
    min-height: 32px;
    border-radius: 16px;
    border: none;
    border-bottom: 2px solid brown;
    background-color: antiquewhite;
}

.doneButton:hover {
    border-bottom: 2px solid rgb(200, 0, 0);
    cursor: pointer;
}

.doneButton:active {
    background-color: rgb(160, 30, 30);
    border-bottom: 2px solid rgb(64, 11, 11);
    color: white;
    transition: 0s;
}