.wrapper {
    overflow: visible;
    position: relative;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(60, 60, 60);
}

.image {
    width: 16px;
    height: 16px;
}

.container {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.priorityContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priorityButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.priorityCircle {
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-bottom: 1px solid rgb(33, 33, 33);
    transition: transform 0.2s;
}

.priorityCircle:hover {
    transform: scale(1.3);
    transition: transform 0.2s;
}