.wrapper {
    display: flex;
    flex-direction: column;
    margin: 16px;
    background-color: rgb(229, 208, 172);

    border-radius: 16px;
    border-bottom: 2px solid rgb(120, 120, 120);
    overflow: hidden;
}